<h1>ヒヤリハット一覧</h1>

<p><%= link_to "投稿する", new_post_path %></p>

<% @posts.each do |post| %>
<div class="message-box">
  <div class="message-top">
    <span class="number">No.<%= post.id %></span>
    <span class="title"><%= post.title %></span>
    <span class="genre"><%= post.genre.name %></span>
    <span class="name">報告者:<%= post.name %></span>
  </div>
  <span class="content">詳 細:<%= post.content %></span>
  <span class="date"><%= post.created_at.to_s(:datetime_jp)%></span>  
</div>
</div>
<% end %>